#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca > #backgroundBox {
  position: absolute;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Paragraph_1 {
  box-shadow: none;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Input_1 {
  position: absolute;
  width: 214.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Input_1 {
  box-shadow: none;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Input_1 .valign {
  vertical-align: middle;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Input_1 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Input_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Berlin Sans FB',Arial;
}
_:-ms-fullscreen, :root #s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Paragraph_2 {
  box-shadow: none;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Image_1 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Image_1 {
  box-shadow: none;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Image_2 {
  position: absolute;
  width: 56.50000000000023px;
  height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-d7e1e3c2-2ef7-471f-832c-26573f30cfca #s-Image_2 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d7e1e3c2-2ef7-471f-832c-26573f30cfca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}